[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
lmfit = "*"
scikit-learn = "*"
gpmap = ">=0.4.5"
emcee = "*"
pytest = "*"

[dev-packages]
"e1839a8" = {editable = true, path = "."}
pylint = "*"

[requires]
python_version = "3.7"
